.logo {
    color: white;
}
body {
    font-family: 'Roboto', serif;
    background: url(band.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    float:right;
    width: 150px;
    text-align: center;
}
img {
    width: 100%;
}

section {
    width: 28%;
    margin: 1em ;
    padding: 1%;
    background: rgba(255,255,255,0.8);
    position:relative;
    flex: auto;
}
.media{
    margin: 10px 0 0 0
}
button {
    background-color: cadetblue;
    color: #fff;
    width:33%;
}
#desc {
    width: 100%;
    height:300px;
    overflow: hidden;
}
.hero{
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
}
#media {
    width: 400px;
}
.container {
    flex-direction: row;
    display: flex;

}
#contact{width: 100%;
height:300px;
}