.logo {
    color: white;
}
body {
    font-family: 'Roboto', serif;
    background: url(band.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Oswald', sans-serif;
     font-size: 50px;
     margin-left: 50px;
}

h2 {
    float:right;
    width: 150px;
    text-align: center;
}
img {
    width: 100%;
}

section {
    width: 28%;
    margin: 3em ;
    padding: 1%;
    background: rgba(255,255,255,0.8);
    position:relative;
    flex: auto;
}
.media{
    margin: 10px 0 0 0
}
button {
    background-color: cadetblue;
    color: #fff;
    width:33%;
}
#desc {
    width: 90%;
    height:300px;
    overflow: hidden;
}
.hero{
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
}
/*#media {
    width: 400px;
}*/
.container {
    flex-direction: row;
    display: flex;

}
#contact, #mediamore, #Aboutmore{width: 90%;

}
.link{
    text-decoration:underline;
}

@media screen and (max-width : 800px) {
    .container {
    flex-direction: column;
    display: flex;

    }
    section {
    width: 90%;}
    video {
  max-width: 90%;
    }
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}